@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

/* NAV BAR */

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
  background-color: #d6d6d6;
  border-bottom: 4px solid black;
}

a {
  background-color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 7px;
  border: 2px solid;
  border-radius: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
}